<div class="w-full flex flex-row justify-center m-8">
  <div class="bg-gray-800 p-8 flex flex-col gap-2 w-1/2 rounded-lg ring shadow-xl ring-gray-900/5" data-controller="issue">
    <h1 class="text-3xl text-center"> New Comic Issue </h1>

    <%= form_with url: "/dashboard/create_issue", method: :post, data: { controller: 'issue', issue_target: "form", turbo: false }, class: "w-full flex flex-col" do |form| %>

      <%= form.label "Name" %>
      <%= form.text_field "name", data: { issue_target: "name" }, type: :text, class: "bg-white text-black p-2 mb-4 rounded" %>

      <%= form.label "Number" %>
      <%= form.text_field "issue_number", data: { issue_target: "issue_number" }, type: :text, class: "bg-white text-black p-2 mb-4 rounded" %>

      <%= form.label "Comic ID" %>
      <%= form.text_field "comic_id", data: { issue_target: "comic_id" }, type: :text, class: "bg-white text-black p-2 mb-4 rounded" %>

      <%= form.label "Description" %>
      <%= form.text_field "description", data: { issue_target: "description" }, type: :text, class: "bg-white text-black p-2 mb-4 rounded" %>

      <%= form.label "Image" %>
      <%= form.file_field "image", data: { issue_target: "image_number", action: "issue#preview" }, type: :file, accept: "image/*", class: "bg-white text-black p-2 mb-4 rounded" %>
      <img data-issue-target="canvas" class="m8" hidden>

      <button class="bg-blue-600 rounded text-2xl p-2" data-action="click->issue#submit">Create New Issue</button>
    <% end %>
  </div>
</div>

